In [27]:
import requests
import pandas as pd 
import time
import numpy as np
from bs4 import BeautifulSoup

In [2]:
amsterdam = 89
rotterdam = 361
hamburg = 104
ports = ['AMSTERDAM', 'ROTTERDAM', 'HAMBURG']

In [3]:

origURL = 'https://www.myshiptracking.com/ports-arrivals-departures/?mmsi=&pid=&type=0&time=1575212940_1575299340&pp=50&page='

data = []
i = 1
while(i <= 50):
    url = origURL + '%d' % i

    r = requests.get(url)
    soup = BeautifulSoup(r.content, 'html.parser')
    rows = soup.select('div.cs-table div.table-group')
    for row in rows:
        list = row.select_one('div.table-row').text.strip().splitlines()
        type = row.select_one('div.table-row div.td_vesseltype img')
        list.append(type.get('src'))
        data.append(list)
    i+= 1
    time.sleep(0)
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['Event', 'Time', 'Port', 'Vessel', 'VesselType']) 
# print dataframe.

In [4]:
def setVesselType(number):
    type = '';
    if(number == '6_'):
        type = 'passenger';
    if(number == '7_'):
        type = 'cargo';
    if(number == '8_'):
        type = 'tanker';
    if(number == '3_'):
        type = 'tug';
    if(number == '0_'):
        type = 'undefined';
    if(number == '9_'):
        type = 'yacht';
    if(number == '4_'):
        type = 'high speed';
    if(number == '10'):
        type = 'fishing';
    if(number == '13'):
        type = 'navigation aid';
    return type;

In [5]:
for i in df.index:
    number = df['VesselType'][i][11:13]
    df['VesselType'][i] = setVesselType(number)

In [6]:
print(df)

          Event              Time                     Port  \
0       Arrival  2019-12-02 15:09                     TEES
1       Arrival  2019-12-02 15:08                ROTTERDAM
2       Arrival  2019-12-02 15:08                   ROUSAY
3       Arrival  2019-12-02 15:08          CALETA LA ARENA
4       Arrival  2019-12-02 15:08                BAKAUHENI
5     Departure  2019-12-02 15:08                LIVERPOOL
6     Departure  2019-12-02 15:08                 CRUZ BAY
7       Arrival  2019-12-02 15:08               SALTHOLMEN
8       Arrival  2019-12-02 15:08                HONG KONG
9     Departure  2019-12-02 15:08                 RAMSGATE
10    Departure  2019-12-02 15:08            VASHON ISLAND
11    Departure  2019-12-02 15:08                 GELKENES
12      Arrival  2019-12-02 15:08              SCHOONHOVEN
13    Departure  2019-12-02 15:08                 CHANGSHU
14    Departure  2019-12-02 15:08                   WEIHAI
15    Departure  2019-12-02 15:08                  KHOLMSK
16      Arrival  2019-12-02 15:08                   QUEBEC
17    Departure  2019-12-02 15:08          CALETA DEL SEBO
18      Arrival  2019-12-02 15:08                  HASSELT
19    Departure  2019-12-02 15:08                LYMINGTON
20      Arrival  2019-12-02 15:08                NORDERNEY
21    Departure  2019-12-02 15:08                 FUJAIRAH
22    Departure  2019-12-02 15:08             BRUNSBUETTEL
23      Arrival  2019-12-02 15:08             SALAMINA MEG
24      Arrival  2019-12-02 15:08                HELSINGOR
25    Departure  2019-12-02 15:08                  MESSINA
26      Arrival  2019-12-02 15:08                 CIRKEWWA
27    Departure  2019-12-02 15:08                 PLYMOUTH
28    Departure  2019-12-02 15:08               GOLFE JUAN
29      Arrival  2019-12-02 15:08           OUD BEIJERLAND
...         ...               ...                      ...
2470  Departure  2019-12-02 14:32            SAN FRANCISCO
2471  Departure  2019-12-02 14:32                  AMELAND
2472    Arrival  2019-12-02 14:32                ALGECIRAS
2473  Departure  2019-12-02 14:32               STRANGFORD
2474    Arrival  2019-12-02 14:32                 ALTAMIRA
2475    Arrival  2019-12-02 14:32                ST THOMAS
2476    Arrival  2019-12-02 14:32              SANDVIKVAAG
2477  Departure  2019-12-02 14:32                SYKKYLVEN
2478    Arrival  2019-12-02 14:32               KHORFAKKAN
2479    Arrival  2019-12-02 14:32                   RAFINA
2480    Arrival  2019-12-02 14:32                   PANJIN
2481    Arrival  2019-12-02 14:32              VENICE (LA)
2482    Arrival  2019-12-02 14:32                 BRESKENS
2483  Departure  2019-12-02 14:32           KINGSTON FERRY
2484  Departure  2019-12-02 14:32             BRUNSBUETTEL
2485  Departure  2019-12-02 14:32      PUERTO DE SALINETAS
2486  Departure  2019-12-02 14:32      ROTTERDAM WAALHAVEN
2487  Departure  2019-12-02 14:32                  PANJANG
2488  Departure  2019-12-02 14:32              PORT JEROME
2489    Arrival  2019-12-02 14:32                SINGAPORE
2490    Arrival  2019-12-02 14:32                   SHUNDE
2491  Departure  2019-12-02 14:32             CUMBRAE SLIP
2492    Arrival  2019-12-02 14:32                  SEATTLE
2493  Departure  2019-12-02 14:32             ORIENT POINT
2494  Departure  2019-12-02 14:32                 SHANGHAI
2495  Departure  2019-12-02 14:32               LA BOUILLE
2496    Arrival  2019-12-02 14:32               DELFSHAVEN
2497    Arrival  2019-12-02 14:32                    MIAMI
2498  Departure  2019-12-02 14:32                 DELFZIJL
2499  Departure  2019-12-02 14:32  VLAARDINGEN - ROTTERDAM

                        Vessel  VesselType
0         SVITZER BRISTOL [GB]         tug
1                 KRVE 59 [NL]  high speed
2            MV SHAPINSAY [GB]   passenger
3                DON JUAN [CL]   passenger
4     WINDU KARSA PRATAMA [ID]   passenger
5                SNOWDROP [GB]   passenger
6              RED HOOK 1 [VI]   passenger
7         TARNTANK TEKNIK [SE]       yacht
8                XIN CHAO [HK]   passenger
9            ESTUARY ELAN [GB]         tug
10             WSF KITSAP [US]   passenger
11       STAD SCHOONHOVEN [NL]   passenger
12       STAD SCHOONHOVEN [NL]   passenger
13     CHANGTONGQIDU16HAO [CN]   passenger
14            SHENGSHENG1 [CN]   passenger
15                  POMOR [RU]   undefined
16    ALPHONSE DESJARDINS [CA]       cargo
17         GRACIOSERO DOS [ES]   passenger
18                 VIKING [BE]       cargo
19            WIGHT LIGHT [GB]   passenger
20               FRISIA I [DE]   passenger
21                   ORYX [AE]         tug
22          FAEHRE DANZIG [DE]   passenger
23                AIANTAS [GR]   passenger
24                 HAMLET [DK]   passenger
25            SALERNO JET [IT]   passenger
26              248692000 [MT]   passenger
27            SD FORCEFUL [GB]         tug
28               NOVASTAR [FR]       yacht
29                  OTTER [NL]   passenger
...                        ...         ...
2470            MENDOCINO [US]  high speed
2471             VIGILANT [NL]         tug
2472         SPABUNKER 51 [ES]      tanker
2473         STRANGFORD 2 [GB]   passenger
2474          MSC METHONI [MX]       cargo
2475           ADVENTURER [VI]   passenger
2476              HUSAVIK [NO]   passenger
2477            ROVDEHORN [NO]   passenger
2478      GULFNAVIGATION2 [AE]   passenger
2479            EVIA STAR [GR]   passenger
2480            DE YING 2 [CN]       cargo
2481           MISS ALENE [US]         tug
2482               JUNTOS [NL]       cargo
2483      WSF WALLA WALLA [US]   passenger
2484        FAEHRE BERLIN [DE]   passenger
2485       V.B. ADRIATICO [ES]         tug
2486          FAIRPLAY 24 [NL]         tug
2487            TB.BSP II [ID]         tug
2488             MAGELLAN [FR]      tanker
2489            YM UPWARD [SG]       cargo
2490     PINGNANRUNFA 508 [CN]       cargo
2491           LOCH SHIRA [GB]   passenger
2492            SALLY FOX [US]   passenger
2493          PLUM ISLAND [US]   passenger
2494             HE SHENG [CN]       cargo
2495               BAC 20 [FR]   passenger
2496            MERCURIUS [NL]   undefined
2497               DIABLO [US]       yacht
2498              ASTERIX [NL]      tanker
2499               KRVE10 [NL]   undefined

[2500 rows x 5 columns]

In [7]:
df.to_csv("data.csv")

In [8]:
filtered_df = df[df['Port'].isin(ports)]

In [9]:
print(filtered_df)

          Event              Time       Port                Vessel  VesselType
1       Arrival  2019-12-02 15:08  ROTTERDAM          KRVE 59 [NL]  high speed
68      Arrival  2019-12-02 15:08  ROTTERDAM         ADELHEID [NL]       cargo
98    Departure  2019-12-02 15:07  AMSTERDAM           ACTIEF [NL]      tanker
156     Arrival  2019-12-02 15:06  AMSTERDAM   SVITZER AMSTEL [NL]         tug
157     Arrival  2019-12-02 15:06  ROTTERDAM         THEODELA [NL]      tanker
163     Arrival  2019-12-02 15:06  AMSTERDAM         HARMONIE [NL]       cargo
241   Departure  2019-12-02 15:05  AMSTERDAM      IJSSELMONDE [NL]   undefined
242     Arrival  2019-12-02 15:05    HAMBURG        ST. PAULI [DE]   passenger
279     Arrival  2019-12-02 15:05  AMSTERDAM       ANNE FRANK [NL]   passenger
363   Departure  2019-12-02 15:04  AMSTERDAM           PONT 6 [NL]   passenger
369   Departure  2019-12-02 15:04    HAMBURG      FALKENSTEIN [DE]   passenger
434   Departure  2019-12-02 15:03  ROTTERDAM          KRVE 60 [NL]  high speed
467   Departure  2019-12-02 15:02  AMSTERDAM         SALVOR 1 [NL]         tug
517     Arrival  2019-12-02 15:02    HAMBURG       GLUECK AUF [DE]       cargo
543     Arrival  2019-12-02 15:01  ROTTERDAM         AMOUREUS [NL]       cargo
582     Arrival  2019-12-02 15:01  ROTTERDAM          KRVE 60 [NL]  high speed
656   Departure  2019-12-02 14:59  ROTTERDAM            SBH 1 [NL]      tanker
714     Arrival  2019-12-02 14:58  AMSTERDAM             LYNX [NL]         tug
734   Departure  2019-12-02 14:58  AMSTERDAM       ZWAANTJE 6 [NL]   undefined
754     Arrival  2019-12-02 14:58  ROTTERDAM            PAIVI [NL]       cargo
803     Arrival  2019-12-02 14:57  AMSTERDAM          VINCENT [NL]   undefined
886     Arrival  2019-12-02 14:56    HAMBURG      FALKENSTEIN [DE]   passenger
895   Departure  2019-12-02 14:55    HAMBURG        TOLLERORT [DE]   passenger
906   Departure  2019-12-02 14:55  ROTTERDAM         AMELIE 1 [NL]      tanker
922     Arrival  2019-12-02 14:55  AMSTERDAM            KP 17 [NL]   undefined
1024    Arrival  2019-12-02 14:53  AMSTERDAM           PONT 6 [NL]   passenger
1106  Departure  2019-12-02 14:52  AMSTERDAM       MARTCILINO [NL]       cargo
1187  Departure  2019-12-02 14:51  AMSTERDAM           CURATA [NL]       cargo
1196    Arrival  2019-12-02 14:50    HAMBURG        TOLLERORT [DE]   passenger
1226  Departure  2019-12-02 14:50  AMSTERDAM   SVITZER AMSTEL [NL]         tug
...         ...               ...        ...                   ...         ...
1703  Departure  2019-12-02 14:42  AMSTERDAM       THE LOUNGE [NL]   passenger
1741  Departure  2019-12-02 14:42  AMSTERDAM     C'EST LA VIE [NL]       cargo
1751  Departure  2019-12-02 14:42  AMSTERDAM       ANNE FRANK [NL]   passenger
1760  Departure  2019-12-02 14:42    HAMBURG      FALKENSTEIN [DE]   passenger
1763  Departure  2019-12-02 14:41  ROTTERDAM       VESPERTINE [NL]       cargo
1798    Arrival  2019-12-02 14:41  ROTTERDAM     SMIT SCHELDE [NL]         tug
1824    Arrival  2019-12-02 14:41  AMSTERDAM          BATOUWE [NL]       cargo
1851    Arrival  2019-12-02 14:40    HAMBURG        ST. PAULI [DE]   passenger
1935    Arrival  2019-12-02 14:39  ROTTERDAM     INVOTIS VIII [NL]       cargo
1943  Departure  2019-12-02 14:39  AMSTERDAM    SOMTRANS XXVI [NL]      tanker
1953    Arrival  2019-12-02 14:39  AMSTERDAM             P 58 [NL]         tug
1974    Arrival  2019-12-02 14:39    HAMBURG       EILTANK 36 [DE]      tanker
1982    Arrival  2019-12-02 14:38  AMSTERDAM            OSCAR [NL]       cargo
2011    Arrival  2019-12-02 14:38  AMSTERDAM        MIKKY MAY [NL]         tug
2059  Departure  2019-12-02 14:37  AMSTERDAM          TWILLIS [NL]       cargo
2089    Arrival  2019-12-02 14:37  AMSTERDAM       PA1/CASTOR [NL]         tug
2112    Arrival  2019-12-02 14:37  AMSTERDAM      CHARLEMAGNE [NL]         tug
2159  Departure  2019-12-02 14:36  AMSTERDAM      WILSON CORK [NL]       cargo
2183  Departure  2019-12-02 14:36  ROTTERDAM            KRVE2 [NL]   undefined
2187  Departure  2019-12-02 14:36  AMSTERDAM          STEVEN1 [NL]   undefined
2260  Departure  2019-12-02 14:35  AMSTERDAM             LYNX [NL]         tug
2285    Arrival  2019-12-02 14:34    HAMBURG      FALKENSTEIN [DE]   passenger
2332  Departure  2019-12-02 14:34  ROTTERDAM            RVE11 [NL]   undefined
2344    Arrival  2019-12-02 14:34  AMSTERDAM           PONT 6 [NL]   passenger
2349  Departure  2019-12-02 14:33  ROTTERDAM      AQUA LIGERA [NL]      tanker
2360  Departure  2019-12-02 14:33    HAMBURG        TOLLERORT [DE]   passenger
2376  Departure  2019-12-02 14:33    HAMBURG  HELENA SCHEPERS [DE]       cargo
2388    Arrival  2019-12-02 14:33  AMSTERDAM       EILTANK 39 [NL]      tanker
2457  Departure  2019-12-02 14:32  AMSTERDAM             P 58 [NL]         tug
2469  Departure  2019-12-02 14:32  ROTTERDAM           ARIANE [NL]      tanker

[70 rows x 5 columns]

In [48]:
#set of vessels
vessels = set(filtered_df.Vessel)

{'RVE11 [NL]', 'TWILLIS [NL]', 'HARMONIE [NL]', 'SALVOR 1 [NL]', 'ADELHEID [NL]', 'TOLLERORT [DE]', 'THE LOUNGE [NL]', 'INVOTIS VIII [NL]', 'NON VERBA [NL]', 'KORTENOORD [NL]', 'OSCAR [NL]', 'KRVE2 [NL]', 'QUO-VADIS [NL]', 'PAIVI [NL]', 'KP 17 [NL]', 'WILSON CORK [NL]', 'RPA11 [NL]', 'SMIT SCHELDE [NL]', 'ACTIEF [NL]', 'VINCENT [NL]', 'KRVE 59 [NL]', 'CURATA [NL]', 'MARTCILINO [NL]', 'HELENA SCHEPERS [DE]', 'P 58 [NL]', 'ARIANE [NL]', 'SBH 1 [NL]', 'GLUECK AUF [DE]', 'ANNE FRANK [NL]', 'THEODELA [NL]', 'SOMTRANS XXVI [NL]', 'BATOUWE [NL]', 'KRVE 60 [NL]', 'AMAZONE [NL]', 'ST. PAULI [DE]', 'AQUA LIGERA [NL]', 'IJSSELMONDE [NL]', 'PONT 6 [NL]', 'SVITZER AMSTEL [NL]', 'VESPERTINE [NL]', 'EILTANK 39 [NL]', 'PERFECT [NL]', "C'EST LA VIE [NL]", 'CHARLEMAGNE [NL]', 'AMELIE 1 [NL]', 'MIKKY MAY [NL]', 'STEVEN1 [NL]', 'AMOUREUS [NL]', 'EILTANK 36 [DE]', 'PA1/CASTOR [NL]', 'FALKENSTEIN [DE]', 'LYNX [NL]', 'ZWAANTJE 6 [NL]', 'RAFIKI [DE]'}

In [10]:
### Unterste (Frühste) Departure herausfinden und letzte Arrival (Späteste)
pont_6 = df[df['Vessel'].isin(['PONT 6 [NL]'])]
print(pont_6)

          Event              Time       Port       Vessel VesselType
252     Arrival  2019-12-02 15:05    ZAANDAM  PONT 6 [NL]  passenger
363   Departure  2019-12-02 15:04  AMSTERDAM  PONT 6 [NL]  passenger
1024    Arrival  2019-12-02 14:53  AMSTERDAM  PONT 6 [NL]  passenger
1045  Departure  2019-12-02 14:53    ZAANDAM  PONT 6 [NL]  passenger
1580    Arrival  2019-12-02 14:44    ZAANDAM  PONT 6 [NL]  passenger
1668  Departure  2019-12-02 14:43  AMSTERDAM  PONT 6 [NL]  passenger
2344    Arrival  2019-12-02 14:34  AMSTERDAM  PONT 6 [NL]  passenger
2402  Departure  2019-12-02 14:33    ZAANDAM  PONT 6 [NL]  passenger

In [44]:
timetable = pd.DataFrame([], columns = ['DeparturePort', 'DepartureTime', 'ArrivalPort', 'ArrivalTime', 'Vessel', 'VesselType'])

In [45]:
print(timetable)

Empty DataFrame
Columns: [DeparturePort, DepartureTime, ArrivalPort, ArrivalTime, Vessel, VesselType]
Index: []

In [46]:
# Set für Vessels erstellen, für jedes Vessel obige Tabelle erstellen
depFirst = False
for index, row in pont_6[::-1].iterrows():
    if(pont_6.Event[index] == "Departure"):
        departurePort = (pont_6.Port[index])
        departureTime = (pont_6.Time[index])
        vessel = (pont_6.Vessel[index])
        vesselType = (pont_6.VesselType[index])
        depFirst = True
    if(pont_6.Event[index] == "Arrival" and depFirst):
        arrivalPort = (pont_6.Port[index])
        arrivalTime = (pont_6.Time[index])
        depFirst = False
        
        newEntry = pd.DataFrame([[departurePort, departureTime, arrivalPort, arrivalTime, vessel, vesselType]], columns = ['DeparturePort', 'DepartureTime', 'ArrivalPort', 'ArrivalTime', 'Vessel', 'VesselType'])
        timetable = timetable.append(newEntry, ignore_index = True)

In [47]:
print(timetable)

  DeparturePort     DepartureTime ArrivalPort       ArrivalTime       Vessel  \
0       ZAANDAM  2019-12-02 14:33   AMSTERDAM  2019-12-02 14:34  PONT 6 [NL]
1     AMSTERDAM  2019-12-02 14:43     ZAANDAM  2019-12-02 14:44  PONT 6 [NL]
2       ZAANDAM  2019-12-02 14:53   AMSTERDAM  2019-12-02 14:53  PONT 6 [NL]
3     AMSTERDAM  2019-12-02 15:04     ZAANDAM  2019-12-02 15:05  PONT 6 [NL]

  VesselType
0  passenger
1  passenger
2  passenger
3  passenger